*.pyc
/*.egg-info
/bin
/include
/lib
/.Python
/repoman.log
/build
/debian/python-repoman-server
/debian/python-repoman-client
/debian/*debhelper*
/debian/*stamp*
/debian/*.substvars
/debian/tmp
/debian/files