#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/python-repoman::
	install -d -m 0755 $(CURDIR)/debian/python-repoman/etc/repoman/
	install -m 0644 $(CURDIR)/conf/* $(CURDIR)/debian/python-repoman/etc/repoman/

	install -d -m 0755 $(CURDIR)/debian/python-repoman/usr/share/repoman/
	cp -r $(CURDIR)/html $(CURDIR)/debian/python-repoman/usr/share/repoman/

	install -d -m 0755 $(CURDIR)/debian/python-repoman/etc/profile.d/
	install -m 0644 $(CURDIR)/debian/repoman.sh $(CURDIR)/debian/python-repoman/etc/profile.d/

clean::
	-rm -rf build
