#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/python-repoman-server::
	cp -r $(CURDIR)/conf/* $(CURDIR)/debian/python-repoman-server/etc/repoman/
	cp -r $(CURDIR)/html $(CURDIR)/debian/python-repoman-server/usr/share/repoman/

clean::
	-rm -rf build
